{% extends 'base.html' %}

{% block styles %}
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='viewgame.css') }}"> -->
	<!-- Implement styles that can conform to style.css -->
	<style>
	div.game{
		overflow: hidden;
	}
	img.box-art{
		float: right;
		max-width: 50%;
	}
	</style>
{% endblock %}

{% block header %}
	<h1>{% block title %} {{ g.game['name'] }} {% endblock %}</h1>
{% endblock %}

{% block content %}

<!-- Game Details -->

<div class="game">
	<img class="box-art" src="{{ g.game['image_url'] }}" alt="{{ g.game['name'] }}'s box art">

	<section class="description">
		<h2> Description: </h2>
		<p> {{ g.game['description'] }} </p>
	</section>

	<section class="time-to-beat">
		<h2> Time to Beat (Main Story): </h2>
		<p> Playtime: {{ g.game['playtime'] }} </p>
	</section>

	<section class="tags">
		<h2> Tags: </h2>
		<ul>
			{% for tag in g.game['tags'].split(',') %}
			<li> {{ tag }} </li>
			{% endfor %}
		</ul>
	</section>
</div>

<hr>

<!-- Add / Remove to collection-->

{% if g.user != None %}
<form method="POST">
	<label> Collection </label>

	{% if not g.in_collection %}
	<input type='hidden' name='do' value='add'>
	<input type='submit' value='Add'>
	{% else %}
	<input type='hidden' name='do' value='remove'>
	<input type='submit' value='Remove'>
	{% endif %}
</form>
{% endif %}

<!-- Edit the collection meta data -->

{% if g.in_collection %}
<form class="star-rating" method="POST">
	<label> Rating </label>

	{% for i in range(1, 6) %}
	<label id="rating-{{ i }}"> 

		{% if i <= g.game_rating %}
		<span>  &starf; </span>
		{% else %}
		<span>  &star; </span>
		{% endif %}
		<input type="submit" name="rate" value="{{ i }}">
	</label>
	{% endfor %}
</form>

<form class="completion" method="POST">
	<label> Completed </label>

	<label>
		{% if g.game_completed %}
		<span>  &check; </span>
		<input type="submit" name="completed" value="0">
		{% else %}
		<span>  &cross; </span>
		<input type="submit" name="completed" value="1">
		{% endif %}
	</label>
</form>
{% endif %}

{% endblock %}