{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Collection{% endblock %}</h1>
{% endblock %}

{% block content%}
<table>
	<tr>
		<th> Game Image </th>
		<th> Game Name </th>
		<th> Play Time </th>
		<th> Completed </th>
	</tr>

	{% for item in g.collection %}
	<tr>
		<td> <img src="{{ item['image_url'] }}" alt="{{ item['name'] }}"> </td>
		<td> <a href="{{ url_for('game.view', gameId=item['gameId']) }}"> {{ item['name'] }} </a> </td>
		<td> {{ item['playtime'] }} </td>

		{% if item['completed'] %}
		<td> &check; </td>
		{% else %}
		<td> &cross; </td>
		{% endif %}
	</tr>
	{% endfor %}
</table>
{% endblock %}