{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Collection{% endblock %}</h1>
{% endblock %}

{% block content%}
<table>
	<tr>
		<th> Game Image </th>

		<th> 
		{% if g.sort == 'name' %}
			{% if g.order == 'ASC' %}
			<a href='?sort={{ g.sort }}&order=DESC'> &darr;
			{% else %}
			<a href='?sort={{ g.sort }}&order=ASC'> &uarr;
			{% endif %}
		{% else %}
		<a href='?sort=name&order=ASC'>
		{% endif %}

		Game Name 
		</a>
		</th>

		<th> 
		{% if g.sort == 'playtime' %}
			{% if g.order == 'ASC' %}
			<a href='?sort={{ g.sort }}&order=DESC'> &darr;
			{% else %}
			<a href='?sort={{ g.sort }}&order=ASC'> &uarr;
			{% endif %}
		{% else %}
		<a href='?sort=playtime&order=ASC'>
		{% endif %}

		Play Time 
		</a>
		</th>

		<th> 
		{% if g.sort == 'rating' %}
			{% if g.order == 'ASC' %}
			<a href='?sort={{ g.sort }}&order=DESC'> &darr;
			{% else %}
			<a href='?sort={{ g.sort }}&order=ASC'> &uarr;
			{% endif %}
		{% else %}
		<a href='?sort=rating&order=ASC'>
		{% endif %}
		
		Rating 
		</a>
		</th>

		<th> 
		{% if g.sort == 'completed' %}
			{% if g.order == 'ASC' %}
			<a href='?sort={{ g.sort }}&order=DESC'> &darr;
			{% else %}
			<a href='?sort={{ g.sort }}&order=ASC'> &uarr;
			{% endif %}
		{% else %}
		<a href='?sort=completed&order=ASC'>
		{% endif %}
		
		Completed 
		</a>
		</th>
	</tr>

	{% for item in g.collection %}
	<tr>
		<td> <img src="{{ item['image_url'] }}" alt="{{ item['name'] }}"> </td>
		<td> <a href="{{ url_for('game.view', gameId=item['gameId']) }}"> {{ item['name'] }} </a> </td>
		<td> {{ item['playtime'] }} </td>

		<!-- Rating Star View -->
		{% if item['rating'] %}
		<td>
			{% for i in range(1, 6) %}

				{% if i <= item['rating'] %}
				&starf;
				{% else %}
				&star;
				{% endif %}
			{% endfor %}
		</td>
		{% else %}
		<td> &star; &star; &star; &star; &star; </td>
		{% endif %}

		<!-- Completion Status -->
		{% if item['completed'] %}
		<td> &check; </td>
		{% else %}
		<td> &cross; </td>
		{% endif %}
	</tr>
	{% endfor %}
</table>
{% endblock %}